@charset "UTF-8";

/* PALETA DE CORES 
    BRANCO, PRETO 
    VERDE: #49a09d;
    LILÃS: #5f2c82; */

    /*RESET*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.626);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-vish-pix-17121023.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 5px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #73359cba;
    border: 2px solid #5f2c82 ;
    width: 100%;
    height: 36px;
    display: block;
    border-radius: 8px;
    margin: 4px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #a9f0ee9e;
    font-size: 1em;
    width: calc(100% - 45px);
    transform: translateY(-12px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:hover {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 0.9em;
    width: 100%;
    height: 30px;
    background-color: #5bbebbd2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.594);
}

form > input[type=submit]:hover {
    background-color: #49a094;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #5bbebbd2;
    border: 1px solid #49a094;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.594);
}

form > a.botao:hover {
    background-color: #49a094;
}

form > a.botao > span {
    font-size: 1em;
}